button{
    background-color: #06001B;
    border-radius: 5px;
    width: 140px;
    height: 35px;
    color: white;
    font-family: Lato;
    margin-right: 20%;
    font-size: 15px;
    border: 1px;
}
.titulo{
    color: 6001B;
}

.b{
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    background-color:white;
}

input{
        border:0;
        background-color: white;
        font-family: Lato; 
        margin-right: 20%;
        font-size: 15px;
        border: 1px;
}

button:hover{
    background-color: blue;
}